#include "GUILib.rc"

256 MENU
{
 POPUP "&File"
 {
  MENUITEM "&New\tCtrl+N", 25701
  MENUITEM "&Open...\tCtrl+O", 25702, GRAYED
  MENUITEM "&Close\tCtrl+W", 25703
  MENUITEM SEPARATOR
  MENUITEM "&Save\tCtrl+S", 25705, GRAYED
  MENUITEM "Save &As...", 25706, GRAYED
  MENUITEM SEPARATOR
  MENUITEM "Print Se&tup...", 25707, GRAYED
  MENUITEM "&Print...\tCtrl+P", 25708, GRAYED
  MENUITEM SEPARATOR
  MENUITEM "E&xit", 25711
 }

 POPUP "&Edit"
 {
  MENUITEM "&Undo\tCtrl+Z", 25801, GRAYED
  MENUITEM SEPARATOR
  MENUITEM "&Cut\tCtrl+X", 25803, GRAYED
  MENUITEM "&Copy\tCtrl+C", 25804, GRAYED
  MENUITEM "&Paste\tCtrl+V", 25805, GRAYED
  MENUITEM "Clea&r\tCtrl+B", 25806, GRAYED
  MENUITEM SEPARATOR
  MENUITEM "Select &All\tCtrl+A", 25808, GRAYED
 }

 POPUP "&Window"
 {
  MENUITEM "&Tile", 25901
  MENUITEM "&Cascade\tShift+F5", 25902
  MENUITEM "&Arrange Icons\tShift+F4", 25903
 }
}

256 ACCELERATORS 
{
 "^N", 25701, ASCII
 "^O", 25702, ASCII
 "^W", 25703, ASCII
 "^S", 25705, ASCII
 "^P", 25708, ASCII
 "^Z", 25801, ASCII
 VK_BACK, 25801, VIRTKEY, ALT
 "^X", 25803, ASCII
 VK_DELETE, 25803, VIRTKEY, SHIFT
 "^C", 25804, ASCII
 VK_INSERT, 25804, VIRTKEY, CONTROL
 "^V", 25805, ASCII
 VK_INSERT, 25805, VIRTKEY, SHIFT
 "^B", 25806, ASCII
 VK_DELETE, 25806, VIRTKEY
 "^A", 25808, ASCII
 VK_F5, 25902, VIRTKEY, SHIFT
 VK_F4, 25903, VIRTKEY, SHIFT
}

